*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    
    color: orange;
}

header .active{
    background-color: #222;
    padding: 1rem;
    border-radius: .5rem;
}

header a{
    text-decoration: none;
    
}

header nav{
    display: flex;
    justify-content: center;
}